
/* 1rem equivale al font specificato nel body,
nel nostro caso 1rem 16px
quindi ad esempio 1.2rem sarà uguale a 16 * 1.2 pixel */

body{
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.f-size-30{
    font-size: 30px;
}

.f-size-40{
    font-size: 40px;
}

.pad-10{
    padding: 10px;
}

.pad-30{
    padding: 30px;
}

.m-top-40{
    margin-top: 40px;
}

.m-top-60{
    margin-top: 60px;
}

.m-bot-60{
    margin-bottom: 60px;
}

.text-bla{
    color: #404040;
}

.row:after{
    content: '';
    display: table;
    box-sizing: border-boxs;
}

.row .row:after{
    content: '';
    display: table;
    box-sizing: border-boxs;
}



/* header */



/* header-top */

.header-top{
    height: 50px;
}

.header-top > .row{
    line-height: 50px;
}

.header-top > .row:first-child img{
    vertical-align: middle;
}

.header-top ul li{
    list-style: none;
    display: inline-block;
}

.header-top ul li a{
    font-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #404040;
}

.header-top .row> .col-lg-10:first-child ul{
    text-align: right;
}

.header-top .row> .col-lg-10:first-child li{
    padding-right: 15px;
}

.header-top .row> .col-lg-2 ul{
    text-align: center;
}

.header-top .row> .col-lg-2 ul li a{
    border-right: 1px solid black;
    padding: 0 5px;
}

.header-top .row> .col-lg-2 ul li:last-child a{
    border-right: none;
}


/* jumbotron */

.jumbotron{
    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: 1950px;
    height: 600px;
    background-position-x: left;
    background-position-y: bottom;
    position: relative;
}

.centro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testo{
    text-align: center;
}

.jumbotron .testo p{
    margin: 30px auto;
}



/* main */




/* prodotti */

.prodotti .row>.col-lg-4{
    background-color: #fafafa;
}

.col-lg-4 .row .col-lg-12 img{
    height: 250px;
}

.prodotti .row .col-lg-12{
    text-align: center;
}

.prodotti .row .col-lg-12 ul{
    list-style: none;
}

.prodotti .row .col-lg-12 a{
    text-decoration: none;
}

/* sezione telefono */

section.telefono{
    position: relative;
}

section.telefono .row:first-child{
    background-image: url('../img/index-banner.1f6fd0a.jpg');
    background-repeat: no-repeat;
    background-size: 1950px;
    height: 600px;
    background-position-x: left;
    background-position-y: bottom;
}

section.telefono .row> [class*="col-"]{
    margin-top: 100px;
    margin-bottom: 100px;
}

.iphone{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 100%;
    background-image: url('../img/iphone-frame.7897a89.png');
    background-repeat: no-repeat;
    height: 500px;
    width: 250px;
}


/* sezione parco */

section.parco{
    background-image: url('../img/scooter.f0a0397.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
} 

section.parco .row .col-lg-3{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
}


section.parco .row .col-lg-3 ul li{
    list-style: none;
}

section.parco .row .col-lg-3 ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

/* section app-find */

section.app-find{
    color: white;
}

section.app-find li{
    list-style: none;
}

section.app-find a{
    text-decoration: none;
    color: white;
}


section.app-find .row .col-lg-5:first-child{
    background-color: #3f5366;
}

.row .col-lg-5:first-child .row .col-lg-12{
    background-image: url('../img/iphone-bg.2dae1bd.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 260px;
    height: 400px;
}


section.app-find .row .col-lg-5:last-child{
    background-image: url('../img/city.7c8c928.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

/* section social */

section.social{
    background-image: url('../img/4dad15dc-ea60-482d-a008-427825031ad6.JPG');
    height: 500px;
    position: relative;
}

section.social .row .col-lg-4{
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

section.social .row .col-lg-4 ul li{
    list-style: none;
    display: inline;
}


/* footer */


/* section policy */

section.policy, section.footer-up, section.footer-down{
    background-color: black;
}

section.policy .col-lg-3{
    margin-top: 40px;
}

section.policy li{
    list-style: none;
}

section.policy .row .col-lg-3 a{
    text-decoration: none;
    color: #7c7c7c;
}

section.policy .row .col-lg-3:first-child ul li a{
    /* font-size: 30px; */
}

section.policy .row .col-lg-3 li:first-child a{
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

section.policy .row .col-lg-3 ul li{
    padding: 10px 0;
}

/* section footer-up */

footer section.footer-up .row{
    border-top: 1px solid #7c7c7c;
    border-bottom: 1px solid #7c7c7c;
    padding-top: 40px;
    padding-bottom: 40px;
}


footer section.footer-up .row [class*="col-"]:first-child ul li{
    display: inline-block;
    padding-right: 10px;
    font-size: 20px;
}

section.footer-up .row [class*="col-"]{
    text-transform: capitalize;
}

section.footer-up .row [class*="col-"] ul li{
    list-style: none;
    
}

section.footer-up .row [class*="col-"] ul li a{
    color: white;
    text-decoration: none;
}


/* footer-down */


section.footer-down a img{
    border: 1px solid white;
    border-radius: 10px;
}


@media screen and (max-width:768px){
    

    header .header-top .row .col-lg-3{
        padding-left: 10px;
    }

    section.parco .row .col-lg-3{
        position: absolute;
        top: 35%;
        right: 0%;
        transform: translate(-50%, -50%);
    }


    section.parco [class*="col-"] h4{
        font-size: 20px;
    }

    section.parco [class*="col-"] p{
        padding: 15px;
    }
    
    section.social .row>[class*="col-"]:first-child{
        font-size: 20px;
    }

    section.policy{
        padding-left: 15px;
    }


    section.footer-up .row{
        position: relative;
    }

    section.footer-up .row .col-xs-12 ul{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}