
/* 1rem equivale al font specificato nel body,
nel nostro caso 1rem 16px
quindi ad esempio 1.2rem sarà uguale a 16 * 1.2 pixel */

body{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.f-size-40{
    font-size: 40px;
}

.f-size-30{
    font-size: 30px;
}

.pad-30{
    padding: 30px;
}

.m-top-60{
    margin-top: 60px;
}

.m-bot-60{
    margin-bottom: 60px;
}

.text-bla{
    color: #404040;
}

.row:after{
    content: '';
    display: table;
    box-sizing: border-boxs;
}

.row .row:after{
    content: '';
    display: table;
    box-sizing: border-boxs;
}

/* header-top */

.header-top{
    height: 50px;
}

.header-top > .row{
    line-height: 50px;
}

.header-top > .row:first-child img{
    vertical-align: middle;
}

.header-top ul li{
    list-style: none;
    display: inline-block;
}

.header-top ul li a{
    font-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #404040;
}

.header-top .row> .col-lg-10:first-child ul{
    text-align: right;
}

.header-top .row> .col-lg-10:first-child li{
    padding-right: 15px;
}

.header-top .row> .col-lg-2 ul{
    text-align: center;
}

.header-top .row> .col-lg-2 ul li a{
    border-right: 1px solid black;
    padding: 0 5px;

}

.header-top .row> .col-lg-2 ul li:last-child a{
    border-right: none;
}

/* jumbotron */

.jumbotron{
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    height: 800px;
    position: relative;
}

.centro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testo{
    text-align: center;
}

.jumbotron .testo p{
    margin: 30px auto;
}

/* prodotti */

.prodotti .row>.col-lg-5{
    background-color: #fafafa;
}

.col-lg-5 .row .col-lg-12 img{
    height: 250px;
}


.prodotti .row .col-lg-12{
    text-align: center;
}

.prodotti .row .col-lg-12 ul{
    list-style: none;
}

.prodotti .row .col-lg-12 a{
    text-decoration: none;
}

/* sezione telefono */

section.telefono{
    position: relative;
}

section.telefono .row:first-child{
    background-image: url('../img/index-banner.1f6fd0a.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 380px;
}

section.telefono .row> [class*="col-"]{
    margin-top: 100px;
    margin-bottom: 100px;
}

.iphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 250px;
    background-image: url('../img/iphone-frame.7897a89.png');
    background-repeat: no-repeat;
    height: 500px;
    width: 250px;
}